<div class="container m-4">
  <div class="row justify-content-center">
    <div class="col-5">
      <input type="search" name="search" id="search"
      class="form-control"
      [(ngModel)]="searchTerm">
    </div>
    <div class="col-2 p-0">
      <button class="btn btn-outline-primary" (click)="onSearch()">search</button>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-6">
      <div class="card" style="width: 70%;">
        <div class="card-body" *ngFor="let item of questionArray;let i=index">
          <p>{{i+1}}. {{item.questionText}}</p>
          <div>
            <ng-container *ngFor="let item1 of item.answerOptions">
                <p style="margin: 5px 15px;">{{item1}}</p>
            </ng-container>
          </div>
          <div>
            <button class="btn btn-primary" style="margin: 5px 15px;" (click)="viewDetail(item)">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>